mmcv==0.4.2
tqdm==4.43.0
matplotlib==3.2.1
numpy==1.18.3
torch==1.5.0
tensorflow==1.14.0
opencv_python==3.4.5.20
filterpy==1.4.5
hyperlpr==0.0.2
numba==0.49.0
Pillow==7.1.2
scikit_learn==0.22.2.post1
scikit-image==0.16.2
terminaltables==3.1.0
torchvision==0.6.0
ConcurrentLogHandler
pywin32
concurrent-log-handler